<div>
    <select id="selectLang" onchange="selectLang()">
      <option value="c_cpp">C++</option>
      <option value="csharp" selected>C#</option>
      <option value="javascript">JS</option>

  </select>

</div>
<!--End Lang-->

<br>

<!--Start Switch Button-->
<label class="switch">
<input id="switchMode" checked type="checkbox" onclick="changeMode();">
<span class="slider round"></span>
</label>
<!--End Switch Button-->

<br>
<br>
<br>


<button type="submit" onclick="runCode()" class="btn btn-primary">Run</button>
<button type="submit" onclick="beautyCode()" class="btn btn-primary">Beautify Code</button>
<br>
<br>
<!--Start Code Ediotr-->

<div style="width:50%; height: 50%" id="editor">

</div>



<script src="aceLib/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="aceLib/ext-language_tools.js"></script>
<script src="aceLib/ext-beautify.js" type="text/javascript" charset="utf-8"></script>
<script src="editor.js"></script>