  <app-banner></app-banner>
   
    <!--================ Start Feature Area =================-->
    <section class="feature_area section_gap_top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">Our Feature</h2>
              <p>
                we make exam T&F , multiple choose and Written questions using text similarity 
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">T&F questions</h4>
                <p>
                   loremipusm loremipusm loremipusm loremipusm loremipusm 
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Choose  From multiple chooses</h4>
                <p>
                  loremipusm loremipusm loremipusm loremipusm loremipusm 

                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Text questions </h4>
                <p>
                 Text questions using Text similarity with NLP
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Feature Area =================-->
     <!--================ Start Trainers Area =================-->
     <section class="trainer_area section_gap_top">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="main_title">
                <h2 class="mb-3">Our Expert Trainers</h2>
                <p>
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
              <div class="thumb d-flex justify-content-sm-center">
                <img class="img-fluid" src="../../assets/img/trainer/t1.jpg" alt="" />
              </div>
              <div class="meta-text text-sm-center">
                <h4>Eng:Ayamn</h4>
                <p class="designation">Sr.Programming language</p>
                <div class="mb-4">
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, odit!
                  </p>
                </div>
                <div class="align-items-center justify-content-center d-flex">
                  <a href="#"><i class="ti-facebook"></i></a>
                  <a href="#"><i class="ti-twitter"></i></a>
                  <a href="#"><i class="ti-linkedin"></i></a>
                  <a href="#"><i class="ti-pinterest"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
              <div class="thumb d-flex justify-content-sm-center">
                <img class="img-fluid" src="../../assets/img/trainer/t2.jpg" alt="" />
              </div>
              <div class="meta-text text-sm-center">
                <h4>Eng:Nasr Kasem</h4>
                <p class="designation">Sr. web designer</p>
                <div class="mb-4">
                  <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, ea.
                  </p>
                </div>
                <div class="align-items-center justify-content-center d-flex">
                  <a href="#"><i class="ti-facebook"></i></a>
                  <a href="#"><i class="ti-twitter"></i></a>
                  <a href="#"><i class="ti-linkedin"></i></a>
                  <a href="#"><i class="ti-pinterest"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
              <div class="thumb d-flex justify-content-sm-center">
                <img class="img-fluid" src="../../assets/img/trainer/t1.jpg" alt="" />
              </div>
              <div class="meta-text text-sm-center">
                <h4>Eng:Mohamed Elshafie</h4>
                <p class="designation">Sr.Web Services</p>
                <div class="mb-4">
                  <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, molestias.
                  </p>
                </div>
                <div class="align-items-center justify-content-center d-flex">
                  <a href="#"><i class="ti-facebook"></i></a>
                  <a href="#"><i class="ti-twitter"></i></a>
                  <a href="#"><i class="ti-linkedin"></i></a>
                  <a href="#"><i class="ti-pinterest"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
              <div class="thumb d-flex justify-content-sm-center">
                <img class="img-fluid" src="../../assets/img/trainer/3.png" alt="" />
              </div>
              <div class="meta-text text-sm-center">
                <h4>Eng:Eman Fathi</h4>
                <p class="designation">Sr. JavaScript developer</p>
                <div class="mb-4">
                  <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, laudantium.
                  </p>
                </div>
                <div class="align-items-center justify-content-center d-flex">
                  <a href="#"><i class="ti-facebook"></i></a>
                  <a href="#"><i class="ti-twitter"></i></a>
                  <a href="#"><i class="ti-linkedin"></i></a>
                  <a href="#"><i class="ti-pinterest"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--================ End Trainers Area =================-->
 