<!--================ Start footer Area  =================-->
<footer class="footer-area section_gap">
    <div class="container">

        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">

                Copyright &copy;
                <script></script>Reserved<i class="ti-heart" aria-hidden="true"></i> by Rawda

            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="zmdi zmdi-twitter-box"></i></a>
                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                <a href="#"><i class="zmdi zmdi-google"></i></a>
                <a href="#"><i class="zmdi zmdi-twitter-box"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->