  <!--================Home Banner Area =================-->
  <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>About Us</h2>
                <div class="page_link">
                  <a href="index.html">Home</a>
                  <a href="about-us.html">About Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================ Start About Area =================-->
    <section class="about_area section_gap">
        <div class="container">
          <div class="row h_blog_item">
            <div class="col-lg-6">
              <div class="h_blog_img">
                <img class="img-fluid" src="../../assets/img/about.png" alt="" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="h_blog_text">
                <div class="h_blog_text_inner left right">
                  <h4>Welcome to our Institute</h4>
                  <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia id velit consectetur quo explicabo dolores aut. Officia ipsum quia corrupti!
                  </p>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aspernatur fugiat atque voluptate voluptates similique quisquam vero officiis repellat natus.
                  </p>
                  <a class="primary-btn" href="#">
                    Learn More 
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--================ End About Area =================-->
    