 <!--================Home Banner Area =================-->
 <section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="banner_content text-center">
            <h2>Exam</h2>
            <div class="page_link">
              <a href="index.html">Home</a>
              <a href="courses.html">Exam</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->
<!--================ Start Feature Area =================-->
<section class="Exam_area section_gap">
  <div class="container">
     
    	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(../../../assets/img/bg-01.jpg);">
					<span class="login100-form-title-1">
						Create Exam
					</span>
				</div>

				<form class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">StartDate</span>
						<input class="input100" type="date" name="StartDate" >
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">End Date</span>
						<input class="input100" type="date" name="pass">
						<span class="focus-input100"></span>
					</div>

					
					<div class="dropdown ">
						<span class="label-input100">Courses</span>
						<button class="btn btn-primary dropdown-toggle form-control" type="button" data-toggle="dropdown">Courses
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
						  <li><a  >HTML</a></li>
						  <li><a >CSS</a></li>
						  <li><a  >JavaScript</a></li>
						</ul> 
					  </div>
					 
					  <div class="wrap-input100 validate-input m-b-18">
						<span class="label-input100">No.Hard:</span>
						<input class="input100" type="number" min="1" max="10" name="hard" placeholder="Enter Number oh hard question">
						 
					</div>
					<div class="wrap-input100 validate-input m-b-18">
						<span class="label-input100">No.Easy:</span>
						<input class="input100" type="number" min="1" max="10" name="hard" placeholder="Enter Number oh Easy question">
						 
					</div>  
					
					<div class="wrap-input100 validate-input m-b-18">
						<span class="label-input100">No.Normal:</span>
						<input class="input100" type="number" min="1" max="10" name="hard" placeholder="Enter Number oh Normal question">
						 
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Add
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
    
  </div>
</section>
<!--================ End Feature Area =================-->

