<div class="container">
    <div class="row">
        <div class="col-sm-6 sm-offset-2">
            <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
            <!-- snipp1 -->

            <div class="col-md-10 col-sm-10">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <!-- <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/> -->
                            </div>
                            <div class="course">
                                <!-- <img class="img-circle" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/> -->
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name"> courseName</h3>
                                    <p class="profession">InstructorName</p>
                                    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, voluptatum error.</p>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-mail-forward"></i>
                                </div>
                            </div>
                        </div>
                        <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">coursesInfo</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">coursesInfo</h4>
                                    <p class="text-center">Name:</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>no.of Exma</h4>
                                            <p>
                                                no
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>no.student</h4>
                                            <p>
                                                std
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <button class="btn btn-primary"> Create Exam</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- end back panel -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end card-container -->
            </div>
            <!-- end col sm 3 -->
            <!--         <div class="col-sm-1"></div> -->


            <div class="space-200"></div>
        </div>