 
mat-form-field, 
textarea{
    width: 100%; 
}
.add-question{
    padding-top: 100px;
    height: 900px;
}
 
mat-spinner{
    margin: auto;
}
input[type="file"]{
    visibility: hidden;
}
.image-preview{
    height: 5rem;
    margin:  1rem 0;
}
.image-preview img{
    height: 100%;
} 
 
.tp-radio-group {
    flex-direction: column;
    margin: 5px auto
 }
 .tp-radio-button {
    margin: 5px;
 }
 .tp-selected-value {
    margin: 15px 0;
 }
 .text{
     display: none;
 }