<div class="add-question">


    <mat-card>
        <mat-spinner *ngIf="isLoading"></mat-spinner>



        <mat-radio-group *ngFor="let type of questionTypes" class="tp-radio-group">


            <input type="radio" name="type" (change)="onItemChange($event)" [value]="type"> {{type}}<br>

        </mat-radio-group>


        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">select Level
            <span class="caret"></span></button>
            <ul class="dropdown-menu" [(ngModel)]="selectedLevel" (click)="onLevelSelected($event)">
                <li [value]="easy"><a>Easy</a></li>
                <li [value]="normal"><a>Normal</a></li>
                <li [value]="hard"><a>Hard </a></li>
            </ul>
        </div><br><br><br><br><br><br>


        <form [formGroup]="form" (submit)="onSaveQuestion()" #postForm="ngForm" *ngIf="!isLoading">


            <mat-form-field>
                <input matInput type="text" formControlName="title" placeholder="write Question title!!" />
                <mat-error *ngIf="form.get('title').invalid">Plz enter a question
                    <title></title>
                </mat-error>
            </mat-form-field>


            <mat-form-field *ngIf="questionType === 'Text' || questionType === 'Code' ">
                <textarea matInput formControlName="correcAns" placeholder="Write Question content" rows="6" name="correcAns">
       </textarea>
                <mat-error *ngIf="form.get('content').invalid">Plz enter a question content</mat-error>
            </mat-form-field>



            <mat-form-field *ngIf="questionType === 'Choice' ">
                <input name='answer1' formControlName="answer1" type="text"> answer1

                <input name=answer2 formControlName="answer2" type="text"> answer2

                <input name="answer3" formControlName="answer3" type="text"> answer3

                <input name="correcAns" formControlName="answer4" type="text"> correct answer



                <mat-error *ngIf="form.get('content').invalid">Plz enter a question content</mat-error>
            </mat-form-field>


            <mat-form-field *ngIf="questionType === 'TrueOrFalse' ">

                <input type="radio" name="correcAns" formControlName="true"> true<br>
                <input type="radio" name="correcAns" formControlName="false"> false<br>

                <mat-error *ngIf="form.get('content').invalid">Plz enter a question content</mat-error>
            </mat-form-field>



            <button mat-raised-button color="accent" type="submit">Save</button>
        </form>


    </mat-card>

    <hr>
    <p>{{NewQuestion}}</p>

</div>