<div class="add-question">
<!-- 
<mat-radio-group class = "tp-radio-group" [(ngModel)] = "questionType">
   <mat-radio-button class = "tp-radio-button"  [(ngModel)]="options"
      *ngFor = "let type of questionTypes"  [value] = "type">
      {{type}}
   </mat-radio-button>
</mat-radio-group> -->


<!-- <mat-radio-group class = "tp-radio-group" [(ngModel)] = "questionType">
        <mat-radio-button class = "tp-radio-button"  [(ngModel)]="options" [value]="MCQ"  >MCQ</mat-radio-button>
        <mat-radio-button class = "tp-radio-button"  [(ngModel)]="options" [value]="Multi Choose"   >Multi Choose</mat-radio-button>
        <mat-radio-button class = "tp-radio-button"  [(ngModel)]="options" [value]="Text"  >Text</mat-radio-button>

</mat-radio-group> -->
<!-- <div class = "tp-selected-value">
   Selected type: {{questionType}}
   
</div> -->


 
<mat-card >
   <mat-spinner *ngIf="isLoading"></mat-spinner>
   <mat-radio-group class = "tp-radio-group">
         <mat-radio-button class = "tp-radio-button" 
            *ngFor = "let type of questionTypes"  [value] = "type">
            {{type}}
         </mat-radio-button>
   </mat-radio-group>
   
   <div class = "tp-selected-value">
         Selected type: {{questionType}}
         
   </div> 

   <form [formGroup]="form" (submit)="onSaveQuestion()" #postForm="ngForm" *ngIf="!isLoading">
        
       
       <mat-form-field>
           <input 
            matInput
            type="text"
             formControlName="title"
            placeholder="write Question title!!"
            />
           <mat-error *ngIf="form.get('title').invalid">Plz enter a question <title></title></mat-error>
       </mat-form-field>  
       <!-- <div>
           <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
           <input type="file" #filePicker (change)="onImagePicked($event)"/>
       </div>
       <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
          <img [src]="imagePreview" [alt]="form.value.title"/>
       </div> -->
       <mat-form-field>
       <textarea
        

        matInput 
        formControlName="content"
        placeholder="Write Question content" 
        rows="6"
        name="content"
        >
       </textarea>
       <mat-error *ngIf="form.get('content').invalid">Plz enter a question content</mat-error>
       </mat-form-field> 
       <button
       mat-raised-button
       color="accent"
       type="submit">Save</button>
   </form>
   
 
 </mat-card>
 
 <hr>
 <p>{{NewQuestion}}</p>

</div>
<!-- ///////////////// -->
