<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" *ngFor="let exam of studentAvalibleExams" class="card ">
                <div class="card-body ">
                    <h5 class="card-title "><span>CourseName:</span>{{exam.course.Name}}</h5>
                    <p class="card-text "><span>Start:</span>{{exam.startDate | date:'medium' }}</p>

                    <p class="card-text "><span>End:</span><span style="color:red">{{exam.endDate | date:'medium' }}</span></p><br>
                    <button class="btn btn-primary" (click)='startExam(exam._id)'> start Exam </button>
                </div>
            </div>
        </div>
    </div>
</div>