<!--  <p>
    {{student.FirstName}}
</p>
<p>
    {{student.LastName}}
</p>
<p>
    {{student.Email}}
</p>
<p>
    {{student.username}}
</p> -->








<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 fff">
            <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
            <!-- snipp1 -->

            <div class="col-md-12 col-sm-12">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <!-- <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/> -->
                            </div>
                            <div class="course">
                                <!-- <img class="img-circle" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/> -->
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name"> studentName</h3>
                                    <p class="profession">{{student.FirstName}}</p>
                                    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, voluptatum error.</p>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-mail-forward"></i>
                                </div>
                            </div>
                        </div>
                        <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">Student Information:</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">studentInfo</h4>
                                    <p class="text-center">Name:{{student.FirstName}} {{student.LastName}}</p>

                                    <div class="stats-container">

                                        <div class="stats">
                                            <h4>student Email:</h4>
                                            <p>
                                                {{student.Email}}
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>Student NationalID:</h4>
                                            <p>{{student.NatinalID}}</p>
                                        </div>
                                        <div class="stats">
                                            <h4>Student Email</h4>
                                            <p>{{student.User.Email}}</p>
                                        </div>
                                        <div class="stats">
                                            <h4>User Name</h4>
                                            <p> {{student.User.username}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end back panel -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end card-container -->
            </div>
            <!-- end col sm 3 -->
            <!--         <div class="col-sm-1"></div> -->


            <div class="space-200"></div>
        </div>